In [1]:
# importing pandas
import pandas as pd

In [2]:
# reading csv files
data = pd.read_csv("nacgfs-jun-2023.csv")

In [5]:
# Creating a DataFrame
df = pd.DataFrame(data)

In [6]:
# Display the DataFrame
print(df)

          Series_reference   Period  Data_value   STATUS    UNITS  MAGNTUDE  \
0         GFSA.SCS01G01Z90  2009.06        3374  REVISED  Dollars         6
1         GFSA.SCS01G01Z90  2010.06       -3940  REVISED  Dollars         6
2         GFSA.SCS01G01Z90  2011.06      -13165  REVISED  Dollars         6
3         GFSA.SCS01G01Z90  2012.06       -3956  REVISED  Dollars         6
4         GFSA.SCS01G01Z90  2013.06       -1066  REVISED  Dollars         6
...                    ...      ...         ...      ...      ...       ...
2508  GFSA.SCS05G08Z61613Z  2019.06           0    FINAL  Dollars         6
2509  GFSA.SCS05G08Z61613Z  2020.06           0    FINAL  Dollars         6
2510  GFSA.SCS05G08Z61613Z  2021.06           0    FINAL  Dollars         6
2511  GFSA.SCS05G08Z61613Z  2022.06           0    FINAL  Dollars         6
2512  GFSA.SCS05G08Z61613Z  2023.06           0    FINAL  Dollars         6

                                    Subject  \
0     Government Financial Statistics - GFS
1     Government Financial Statistics - GFS
2     Government Financial Statistics - GFS
3     Government Financial Statistics - GFS
4     Government Financial Statistics - GFS
...                                     ...
2508  Government Financial Statistics - GFS
2509  Government Financial Statistics - GFS
2510  Government Financial Statistics - GFS
2511  Government Financial Statistics - GFS
2512  Government Financial Statistics - GFS

                                                  Group  \
0     Central Government, Operating Statement, Net B...
1     Central Government, Operating Statement, Net B...
2     Central Government, Operating Statement, Net B...
3     Central Government, Operating Statement, Net B...
4     Central Government, Operating Statement, Net B...
...                                                 ...
2508  Central Government, Non-financial Assets Recon...
2509  Central Government, Non-financial Assets Recon...
2510  Central Government, Non-financial Assets Recon...
2511  Central Government, Non-financial Assets Recon...
2512  Central Government, Non-financial Assets Recon...

             Series_title_1 Series_title_2 Series_title_3 Series_title_4  \
0     Net operating balance            NaN            NaN            NaN
1     Net operating balance            NaN            NaN            NaN
2     Net operating balance            NaN            NaN            NaN
3     Net operating balance            NaN            NaN            NaN
4     Net operating balance            NaN            NaN            NaN
...                     ...            ...            ...            ...
2508   Non-financial assets      Valuables          Total            NaN
2509   Non-financial assets      Valuables          Total            NaN
2510   Non-financial assets      Valuables          Total            NaN
2511   Non-financial assets      Valuables          Total            NaN
2512   Non-financial assets      Valuables          Total            NaN

      Series_title_5
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
2508             NaN
2509             NaN
2510             NaN
2511             NaN
2512             NaN

[2513 rows x 13 columns]

In [7]:
# or simply
df

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,GFSA.SCS01G01Z90,2009.06,3374,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
1,GFSA.SCS01G01Z90,2010.06,-3940,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
2,GFSA.SCS01G01Z90,2011.06,-13165,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
3,GFSA.SCS01G01Z90,2012.06,-3956,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
4,GFSA.SCS01G01Z90,2013.06,-1066,REVISED,Dollars,6,Government Financial Statistics - GFS,"Central Government, Operating Statement, Net B...",Net operating balance,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2508,GFSA.SCS05G08Z61613Z,2019.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2509,GFSA.SCS05G08Z61613Z,2020.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2510,GFSA.SCS05G08Z61613Z,2021.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2511,GFSA.SCS05G08Z61613Z,2022.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN
2512,GFSA.SCS05G08Z61613Z,2023.06,0,FINAL,Dollars,6,Government Financial Statistics - GFS,"Central Government, Non-financial Assets Recon...",Non-financial assets,Valuables,Total,NaN,NaN

In [8]:
# Creating a DataFrame from Dictionaries

# Dictionary with data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [10]:
# Creating a DataFrame from a CSV File

# Define the columns to select from the CSV file
selected_columns = ["Series_reference", "Period", "Data_value", "STATUS"]

# Read the CSV file and select specific columns
df_from_csv = pd.read_csv("nacgfs-jun-2023.csv", usecols=selected_columns)

# Display the first few rows to confirm the selection
df_from_csv.head()

   Series_reference   Period  Data_value   STATUS
0  GFSA.SCS01G01Z90  2009.06        3374  REVISED
1  GFSA.SCS01G01Z90  2010.06       -3940  REVISED
2  GFSA.SCS01G01Z90  2011.06      -13165  REVISED
3  GFSA.SCS01G01Z90  2012.06       -3956  REVISED
4  GFSA.SCS01G01Z90  2013.06       -1066  REVISED

In [12]:
# Data Inspection Functions and their Meaning

# df.info(): Provides information about the DataFrame, including the number of rows, columns, data types, and any missing data.
df.info()

# df.head(n): Displays the first n rows of the DataFrame, useful for a quick overview.
df.head(5)

# df.describe(): Generates summary statistics for numerical columns, including count, mean, standard deviation, minimum, maximum, and quartiles.
df.describe()

# df.isnull().sum(): Returns the count of missing values in each column, helping identify data quality issues.
print("Missing values per column:")
df.isnull().sum()

# df.columns: Lists the column names in the DataFrame.
df.columns

# df.dtypes: Shows the data types for each column, useful for detecting inconsistencies.
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
Missing values per column:

Name    object
Age      int64
City    object
dtype: object

In [16]:
# Data Exploration

# df["column"].value_counts(): Returns the count of unique values in a categorical column, helping understand the distribution.
age_counts = df["Age"].value_counts()
print("Age Counts:")
print(age_counts)

# df["column"].unique(): Lists all unique values in a column, useful for understanding diversity in the data.
unique_name = df["Name"].unique()
print("Unique Names:")
print(unique_name)

Age Counts:
Age
25    1
30    1
35    1
Name: count, dtype: int64
Unique Names:
['Alice' 'Bob' 'Charlie']